@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';



/********************************* GENERAL *********************************/

/*-------- COLOR VARIABLES --------*/
:root {
  --primary-white: #fff;
  --primary-light-gray: #f4f4f4;
  --primary-gray: #ccd1d9;
  --primary-dark-gray: #212529;
  --primary-blue: #00b8c3;
  --primary-dark: rgb(52, 58, 64);
  --primary-black: #000000;
  --primary-green: green;
  --bootrap-dark-navbar: #212529;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400 !important;
}

a {
  text-decoration: none !important;
}

/*-------- SECTIONS --------*/
.section-wrapper {
  padding: 3rem 0;
}
.section-wrapper h1 {
  color: var(--primary-blue);
  font-size: 1.8rem;
  font-weight: 600;
}

/*-------- BUTTONS --------*/
.btn-main {
  background: none;
  border: 1px solid var(--primary-blue);
  text-decoration: none;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  text-align: center;
  transition: .2s ease-in-out;
}

.btn-main:hover {
  text-decoration: none;
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.btn-secondary {
  background-color: var(--primary-blue);
  text-decoration: none;
  border: none;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  text-align: center;
  transition: .2s ease-in-out;
}

.btn-secondary:hover {
  background: none;
  text-decoration: none;
  border: 1px solid var(--primary-blue);
  text-decoration: none;
  border-radius: 0;
  color: var(--primary-white);
}


/********************************* NAVBAR *********************************/

nav {
  z-index: 2;
  box-shadow: rgb(0 0 0 / 60%) 0px 2px 4px;
}

.logo {
  width: 3.25rem;
}

/*-------- MENU LINKS --------*/

nav a.nav-link {
  font-size: 1rem;
  letter-spacing: 0.0375rem;
  text-align: center;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--bootrap-dark-navbar);
}


.navbar-brand {
  max-width: 17.25rem;
}

@media(max-width: 768px) {
  .navbar-brand {
    max-width: 7rem;
  }
}

.navbar-light .navbar-toggler:focus {
  border-color: var(--primary-blue) !important;
}

/*-------- MEDIA QUERIES --------*/
@media(min-width: 769px) {
  .navbar-nav > li > a.active,  .navbar-nav > li > a:focus {
    border-top: 0.1875rem solid var(--primary-blue);
  }

  .navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-blue);
  }
}

@media(max-width: 768px) {
  .navbar-nav > li > a.active,  .navbar-nav > li > a:focus {
    border-bottom: 0.1875rem solid var(--primary-blue);
  }

  .navbar-nav > li > a:hover {
    border-bottom: 0.1875rem solid var(--primary-blue);
  }
}



/********************************* HEADER *********************************/

.header-wrapper {
  position: relative;
  background-color: var(--primary-dark-gray);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--primary-white);
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.header-icon {
  font-size: 6em;
  margin-bottom: .25em;
}

/*-------- TYPED TEXT --------*/
.typed-text {
  font-size: 1.5rem;
  
  font-weight: 300;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 2rem;
  }

  .typed-text {
    font-size: 1.25rem;
  }
}



/********************************* ABOUT ME *********************************/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-blue);
}

@media(max-width: 576px) {
  .about-me {
    text-align: center;
  }
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}



/********************************* SKILLS *********************************/

.skills {
  text-align: center;
  background: var(--primary-white);
}

.skills-tile {
    width: 130px;
    color: var(--primary-light-gray);
}

.skills-icon {
    font-size: 4em;
}



/********************************* EXPERIENCE *********************************/

.experience {
    background: var(--primary-light-gray);
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-blue);
  margin-top: 0.85rem;;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-gray);
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-dark);
  font-weight: 900;
}


/** NEW TIMELINE **/
.vertical-timeline {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 2em 0;
}

.vertical-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: var(--primary-dark-gray);
}

.vertical-timeline:after {
    content: "";
    display: table;
    clear: both;
}

.vertical-timeline-element:first-child {
    margin-top: 0;
}

.vertical-timeline-element:last-child {
    margin-bottom: 0;
}

.vertical-timeline-element {
    position: relative;
    margin: 2em 0;
}

.vertical-timeline * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.vertical-timeline--animate .vertical-timeline-element-icon {
    background: var(--primary-blue);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    -webkit-box-shadow: 0 0 0 4px var(--primary-dark-gray), inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
    box-shadow: 0 0 0 4px var(--primary-dark-gray), inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
}

.experience-icon {
    font-size: 150%;
}

.vertical-timeline-element > div {
    min-height: 1px;
}

.vertical-timeline-element-content {
    position: relative;
    margin-left: 60px;
    background: #fff;
    padding: 1em;
    -webkit-box-shadow: 0 3px 0 #ccc;
    box-shadow: 0 3px 0 #ccc;
    background-color: var(--primary-dark-gray);
}

.badge-container {
    text-align: left; 
    margin-bottom: 4px;
}

.vertical-timeline-element-content-arrow {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right-color: var(--primary-dark-gray);
}

.vertical-timeline-element-subtitle, 
.vertical-timeline-element-title {
    margin: 0;
    color: var(--primary-white);
}

.experience-badge, 
.main-badge {
    text-align: left!important;
    padding: 5px 8px!important;
    vertical-align: baseline;
    font-weight: lighter!important;
}

.main-badge {
    background-color: var(--primary-blue);
    color: var(--primary-white);
}

.experience-badge {
    font-size: 11px!important;
    background-color: var(--primary-gray);
    color: var(--primary-dark-gray) !important;
}

/*-------- MEDIA QUERIES --------*/
@media(max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper::before {
    left: 1.45rem;
    margin-bottom: 1.875rem;
  }
}



/********************************* PORTFOLIO *********************************/

/* UPDATED PORTFOLIO */
.portfolio {
  background: var(--primary-dark-gray);
  color: var(--primary-light-gray);
}

.portfolio-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.portfolio-row-flex {
  display: flex;
  flex-wrap: wrap;
}

/* LAYOUT */
.portfolio .portfolio-project-image {
    display: inline-block;
    position: relative;
    margin-left: 40px;
    margin-bottom: 40px;
}

.portfolio .portfolio-project-image img {
    border-radius: 5px;
    overflow: hidden;
}

.portfolio .portfolio-project-image img:first-child {
    z-index: 1;
    position: absolute;
    top: 0;
    transform: translate(-40px,40px);
    opacity: .3;
}

.portfolio .portfolio-project-image img:nth-child(2) {
    position: absolute;
    top: 0;
    transform: translate(-20px,20px);
    opacity: .4;
}

.portfolio .portfolio-project-image img:nth-child(3) {
    position: relative;
    z-index: 3;
}

.portfolio-icon {
  font-size: 1.5em;
}



/********************************* TESTIMONIALS *********************************/

/*
.testimonials {
  background-image: url(testimonials-bg.jpg);
  background-size: cover;
  background-color: var(--primary-black);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h1 {
  padding: 3rem 0;
}

.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black); 
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.myCarousel h3 {
  color: var(--primary-blue);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p {
  color: var(--primary-grey);
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}
*/



/********************************* CONTACT *********************************/

/*
.contact {
  background: var(--primary-dark);
}

.contact p {
  color: var(--primary-light-gray);
  font-size: 1.2rem;
}


.contact input, .contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-gray);
  border-radius: 0;
  color: var(--primary-gray);
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contact input:focus, .contact textarea:focus {
  background: transparent;
  color: var(--primary-blue);
  border-bottom: 0.125rem solid var(--primary-dark-gray);
}

.contact textarea {
  height: 12.26rem;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-blue);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}


@media(max-width: 768px) {
  .contact {
    overflow-x: hidden;
  }
}
*/



/********************************* Footer *********************************/
.footer {
  padding: 2rem;
}



/* NEW UPDATES  */
.footer {
    color: var(--primary-white);
}

.footer-icon-container {
    display: flex;
    justify-content: center;

}

.footer-icon {
    color: var(--primary-white);
    font-size: 3em;
}











































